{{ if eq .Title ".Site.Title" }}
	{{ with .File }}
		<h1>{{ .File.BaseFileName | humanize | title }}</h1>
	{{ end }}
{{ end }}

{{ $scratch := newScratch }}


{{ $firstBracket := `(\[\[` }}
{{ $lastBracket := `\]\])` }}

{{ $wikiregex := `\[\[([^/]+?)\]\]` }}
{{ $wikilinks := .Content | findRE $wikiregex }}
{{ $scratch.Set "currentPage" . }}

{{ $.Scratch.Add "content" .RawContent }}
{{ $content := .Scratch.Get "content" | markdownify }}

{{ range $wikilinks }}
	{{/* Get the filename */}}
	{{ $filename := . | replaceRE $wikiregex "$1" }}
	{{ print $filename }}

	{{/* Find the relative reference using the filename */}}
	{{ $rel := relref ($scratch.Get "currentPage") $filename }}

	{{/* Save a copy of the wikilink for later replacement */}}
	{{ $escapedFilename := $filename | replaceRE `\?` `\?` }}
	{{ $wikilink :=  printf "%s%s%s" $firstBracket $escapedFilename $lastBracket }}
	{{ print $wikilink }}

	{{/* Create the link HTML */}}
	{{ $link := printf "%s%s%s%s%s" "<a href=\"" $rel "\">" $filename "</a>" }}
	{{ print $link | safeHTML }}
	{{ print "<br/>" | safeHTML }}
	{{ print "<br/>" | safeHTML }}
	{{ print . | safeHTML }}
	{{ print "<br/>" | safeHTML }}
	{{ print "<br/>" | safeHTML }}
	{{ $noteContent := $content | replaceRE $wikilink $link }}
	{{ $noteContent | print }}
	{{ print "<br/>" | safeHTML }}
	{{ print "<br/>" | safeHTML }}
	{{ $content = $noteContent }}
{{ end }}

{{ $content | safeHTML }}