{{ range .Site.Pages.GroupBy "Section" }}
	{{ $printedPieces := slice nil }}
	{{ $currentSection := "" }}
	{{ $openuls := 0 }}
    <ul>
    	{{ range .Pages }}
    		{{ $pathPieces := split .File.Dir "/" }}
    		{{ $filetitle := .File.BaseFileName | humanize | title }}
    		{{ $page := . }}
    		{{ range $pathPieces }}
    			{{ if and (not (in $printedPieces . )) (not (in $pathPieces $currentSection )) }}
    				{{ $difference := complement $pathPieces $printedPieces }}
    				{{ range $difference }}
    					{{ $openuls = sub $openuls 1 }}
    					</ul>
    				{{ end }}
    				{{ $printedPieces = intersect $printedPieces $pathPieces }}
    			{{ end }}
    			{{ if and (not (in $printedPieces . )) (ne . "") }}
    				<li><h4>{{ print . }}</h4></li>
    				{{ $currentSection = . }}
    				<ul>
    				{{ $openuls = add $openuls 1 }}
    			{{ else if and (eq . "") (ne $filetitle "") }}
	    			<li>
	    				<a href="{{$page.Permalink}}">
	    				{{ $filetitle }}
	    				</a>
	    			</li>
    			{{ end }}
    			{{ $printedPieces = union $printedPieces ( slice . ) }}
    		{{ end }}
		{{ end }}
		{{ range $sequence := (seq $openuls) }}
			</ul>
		{{ end }}
    </ul>
{{ end }}