# Reporting Usability Test Results
**Link:** https://www.usability.gov/how-to-and-tools/methods/reporting-usability-test-results.html

![[MS in User-Centered Design/RUCD 140 - Research Methods/Week 8 - Usability Test Results Analysis, Synthesis, and Key Findings Report/Learning Objectives]]

## Notes